<!-- varianta 1-->
<!--<li>@Html.ActionLink("Acasa", "Index", "Home")</li>-->
<br />
<ul class="nav nav-pills nav-stacked" style="background:#e3e3e3">

    <li class="active"><a href="#"><b>Destinatii</b></a></li>
    <li>@Html.ActionLink("Orase", "Orase", "Home")</li>
    <li>@Html.ActionLink("Natura", "Natura", "Home")</li>
    <li>@Html.ActionLink("Atractii sezoniere", "Atractii_sezoniere", "Home")</li>
    <li>@Html.ActionLink("Circuite", "Circuite_trasee", "Home")</li>
    <li>@Html.ActionLink("Gradini Zoo", "Gradini_zoo", "Home")</li>
    <li>@Html.ActionLink("Sporturi si activitati", "Sporturi_activitati", "Home")</li>
    <li>@Html.ActionLink("Evenimente culturale", "Evenimente_culturale", "Home")</li>
    <li>@Html.ActionLink("Restaurante traditionale", "Restaurante_traditionale", "Home")</li>
    <li>@Html.ActionLink("Relaxare si SPA", "Relaxare_spa", "Home")</li>
    <li>@Html.ActionLink("Shopping", "Shopping", "Home")</li>
    <li>@Html.ActionLink("Hoteluri si pensiuni", "Hoteluri_pensiuni", "Home")</li>
</ul>